.login{
    width: 60%;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.login__box,button{
    margin-left: 10px;
    background-color: white;
    width: 350px;
    border: 1px solid rgb(210, 210, 210);
    padding: 20px;
    margin-top: 15px;
}

.login__form input{
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid rgb(210, 210, 210);
}

.login__app{
    display: flex;
    justify-content: center;
}
.login__app img{
    width: 146px;
    height: 40px;
}